Source: pack
Section: devel
Priority: optional
Maintainer: Kunal Mehta <legoktm@debian.org>
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               git,
               golang-any (>= 2:1.14~)
Standards-Version: 4.1.3
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/buildpacks/pack

Package: pack
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: tool for building apps using Cloud Native Buildpacks
 pack makes it easy for...
 * App developers to use buildpacks to convert code into runnable images
 * Buildpack authors to develop and package buildpacks for distribution
 * Operators to package buildpacks for distribution and maintain applications
