#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE = 1
export DH_GOLANG_EXCLUDES := vendor
export DH_GOLANG_BUILDPKG := github.com/buildpacks/pack/cmd/pack

BUILDFLAGS := -ldflags \
  " -X github.com/buildpacks/pack.Version=v$(DEB_VERSION_UPSTREAM)"

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_configure:
	dh_auto_configure -- $(BUILDFLAGS)

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

override_dh_auto_install:
	dh_auto_install -- --no-source
	# Internal helper tool
#	rm debian/tmp/usr/bin/pedantic_imports


# Skip tests, require running docker
override_dh_auto_test:

# No dwz symbols, disable
override_dh_dwz:
